@model ContestEACA.Models.Contest
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Model.Name;
    var user = await UserManager.GetUserAsync(User);
}
<h2 class="title-center text-center hidden-xs"  >Подробно о конкурсе</h2>
<h2 class="title-center text-center hidden-md hidden-sm hidden-lg">@Html.DisplayNameFor(model => model.Name) "@Html.DisplayFor(model => model.Name)"</h2>
<div>
    <div class="text-center">
        <img style="width:100px; height:100px;" src="@Model.PreImage.Path" class="img-circle">
    </div>
    <h3 class=" text-center hidden-xs"> @Html.DisplayNameFor(model => model.Name) "@Html.DisplayFor(model => model.Name)" </h3>
    <h4 class=" text-center">@Html.DisplayFor(model => model.PreTitle)</h4>

    @if (user != null)
    {
        @if (UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin").Result)
        {
            <div class="text-center center-row">
                <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
            </div>
            <hr />
        }
    }


    <div col-md-12>@Html.DisplayFor(model => model.PreText) </div>

    <div class=" text-center">

        
            @if (Model.Provision != null)
            {
                <a href="@Url.Content(Model.Provision.Path)"> Посмотреть положение о конкурсе </a>
            }
            else
            {
                <p>Положения о конкурсе пока нет</p>
            }
     </div>


    </div>
    <div class="col-md-offset-9 col-md-3">

        <dl class="dl-horizontal text-right">
            <dt class=" text-right">
                @Html.DisplayNameFor(model => model.StartTime):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndTime):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rewarding):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rewarding)
            </dd>

        </dl>
</div>

