@model ContestEACA.Models.Post

@{
    ViewData["Title"] = "Details";
}
<script id="dsq-count-scr" src="//san2blog.disqus.com/count.js" async></script>

<div class="container">
    <div class="row">
        <div class=" col-sm-4"> 
            <h1>@Html.DisplayFor(model => model.Title)</h1>
            <h2>@Html.DisplayFor(model => model.Author.FirstName) @Html.DisplayFor(model => model.Author.LastName)</h2>
        </div>
        <div class=" col-sm-4">
            <h1> Рейтинг: @Html.DisplayFor(model => model.Rating) <a href="#" >Нравится</a> </h1>
            <h2> Номинация: @Html.DisplayFor(model => model.Nomination.Name) </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"> 
        <h1>@Html.DisplayNameFor(model => model.TextWork) </h1>
        <p>@Html.DisplayFor(model => model.TextWork)</p></div>

        <div class="col-sm-8">
            <div>

                @if(ViewBag.LinkEnable)
                {
                <div class="vid">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/@ViewBag.ParsURL" allowfullscreen=""></iframe>
                </div>
                }

                <br />

                @if (ViewBag.FileEnable)
                {
                    <a href="@Url.Content(ViewBag.FilePath)"> Посмотреть конкурсную работу </a>
                }
                else
                {
                    <p>Участник не выложил никаких файлов</p>
                }
            </div>
        </div>
    </div>
</div>

<div id="disqus_thread"></div>
    
<script>

    (function()
        {
            var d = document, s = d.createElement('script');
            s.src = 'https://contesteaca.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        }
    )();

</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//contesteaca.disqus.com/count.js" async></script>
