@model ContestEACA.Models.ViewModels.PostsViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Панель администратора</h2>

<hr />

<form method="get">
    <div class="row">
        <div class="form-inline form-group">

            <label class="control-label">filter: </label>
            @Html.DropDownList("nomination", Model.Nominations as SelectList, htmlAttributes: new { @class = "form-control" })

            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
    </div>
</form>
<hr />

<div>
    <a asp-area="" asp-controller="Roles" asp-action="Index">Назначение ролей пользователей</a>  
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HelpNamePost.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HelpNamePost.AuthorId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.HelpNamePost.Nomination)
            </th>

            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.RatingSort">@Html.DisplayNameFor(model => model.HelpNamePost.Rating)</a>
            </th>

            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateCreateSort">@Html.DisplayNameFor(model => model.HelpNamePost.DateCreated)</a>
            </th>

            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Posts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName)
                @Html.DisplayFor(modelItem => item.Author.LastName)
                <br />
                @Html.DisplayFor(modelItem => item.Author.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomination.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
