@model ContestEACA.Models.ViewModels.PostsFSPViewModels.PostsIndexViewModel

@{
    ViewData["Title"] = ViewBag.ContestName;
    string colortr;
}

<h2 class="text-center title-center">Список работ для конкурса: @ViewBag.ContestName</h2>
<br />

<div class="col-xs-12 ">
    <form method="get">

        <div style="margin-top:1em;" class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1  nomination">
                <p>Конкурсы</p>
            </div>

            <!-- Острожнее с этой игрушкой дьявола -->
            <div hidden class="form-group">
                <input id="contestId" name="contestId" value="@ViewBag.ContestId" class="form-control" />
            </div>
            <!-- //danger -->

            <div class="col-xs-3 col-md-3 select_list">
                @Html.DropDownList("nominationId", Model.FilterViewModel.Nominations as SelectList, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="col-xs-2 col-md-3">
                <input type="submit" value="Фильтровать" class="btn btn-primary select_butn" />

            </div>

        </div>
    </form>
</div>




<table class="table table-reponsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HelpNamePost.NominationId)
            </th>

            <th>
                <a asp-action="Index"
                   asp-route-contestId="@ViewBag.ContestId"
                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                   asp-route-contest="@(Model.FilterViewModel.SelectedNomination)">
                    @Html.DisplayNameFor(model => model.HelpNamePost.Title)
                </a>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.HelpNamePost.AuthorId)
            </th>

            <th>
                <a asp-action="Index"
                   asp-route-contestId="@ViewBag.ContestId"
                   asp-route-sortOrder="@(Model.SortViewModel.RatingSort)"
                   asp-route-contest="@(Model.FilterViewModel.SelectedNomination)">
                    @Html.DisplayNameFor(model => model.HelpNamePost.Rating)
                </a>
            </th>

            <th>
                Инструменты
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Posts) {

    if (item.Status == StatusPost.AwaitingForModeration) { colortr = "warning"; }
    else if (item.Status == StatusPost.Accept) { colortr = "success"; }
    else { colortr = "danger"; }

        <tr class="@colortr">

            <td class="col-md-3">
                <a asp-controller="Nominations" asp-action="Details" asp-route-id="@item.NominationId">
                    @Html.DisplayFor(modelItem => item.Nomination.Name)
                </a>
            </td>

            <td class="col-md-3">
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.ID">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>

            <td class="col-md-2">
                <a asp-action="UserDetails" asp-route-userId="@item.AuthorId">
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                    @Html.DisplayFor(modelItem => item.Author.LastName)
                </a>
                <br />
                @Html.DisplayFor(modelItem => item.Author.Email)
            </td>

            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Rating)
            </td>

            <td class="col-md-3">
                <a asp-action="SetStatusPost" asp-route-id="@item.ID">Изменить статус</a> |
                <a asp-controller="Posts" asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-contestId="@ViewBag.ContestId"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-contest="@(Model.FilterViewModel.SelectedNomination)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-contestId="@ViewBag.ContestId"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-contest="@(Model.FilterViewModel.SelectedNomination)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}