@model IEnumerable<ContestEACA.Models.Contest>

@{
    ViewData["Title"] = "Модерация";
}

<br />
<br />
<br />
<br />
<h2>Модерация активных конкурсов</h2>

<hr />
<table class="table table-striped table-hover table-bordered">

    <thead>
        <tr>
            <th>
                Название конкурса
            </th>
            <th>
                Инструменты
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-3">
                    @item.Name 
                </td>
                <td class="col-md-9">
                    <a asp-controller="Contests" asp-action="Edit" asp-route-id="@item.Id">Изменить страницу конкурса</a> 
                    <br />
                    <br />
                    <a 
                       asp-controller="Moderate"
                       asp-action="NominationsContest"
                       asp-route-contestId="@item.Id">
                        Просмотр и редактирование всех номинации конкурса
                    </a>
                    <br />
                    <br />
                    <a asp-controller="Contests" asp-action="News" asp-route-contestId="@item.Id">Список новостей</a> |
                    <a asp-controller="NewsContests" asp-action="Create" asp-route-contestId="@item.Id">Добавить новость</a>
                    <br />
                    <br />
                    <a asp-controller="Moderate" asp-action="GetAllWorksContest" asp-route-contestId="@item.Id">Все работы</a> |
                    <a asp-controller="Moderate" asp-action="GetWaitingModerationWork" asp-route-contestId="@item.Id">Работы в ожиданий модерации</a>
                    <span class="badge">
                        @item.Posts.Where(x => x.Status == StatusPost.AwaitingForModeration).Count()
                    </span> 
                </td>
            </tr>
        }

    </tbody>
</table>

