@model ContestEACA.Models.Contest

@{
    ViewData["Title"] = "";

}

<div id="fullpage">

    <section  id="section1" data-anchor="mainpage" class="section">
        <div class="container">
            <div class="col-sm-offset-3 col-sm-6 text-center" style="margin-top:11vh;">



                @if (Model != null)
                {
                    <h1>@Model.Name</h1>
                    <h3> Прием работ с @Model.StartTime.ToString("dd.MM.yyyy") до @Model.EndTime.ToString("dd.MM.yyyy")</h3>
                }
                else
                {
                    <i class="fa fa-6 fa-frown-o"  style="font-size:48px;" aria-hidden="true"></i>
                    <h1>Пока нету конкурсов</h1>
                }
            </div>
            <footer>

                <div class=" col-sm-offset-2 col-sm-9 col-xs-12 " style="padding-top:11vh;">
                    <div class=" hidden-xs">
                        <a target="_blank" href="http://xn--80ajk9a.xn--80acgfbsl1azdqr.xn--p1ai/">
                            <img style="width: 10%;" class=" greyscale" src="~/Inga/logo-bw.png" />
                        </a>

                        <a target="_blank" href="https://xn--80acgfbsl1azdqr.xn--p1ai/">
                            <img class=" greyscale" src="~/Inga/logo-eburgrf.png" />
                        </a>
                        <a target="_blank" href="http://kulturmultur.com/"><img class=" greyscale" src="~/Inga/logo-kultur-multur.png" /></a>
                        <a target="_blank" href="http://xn--80abucjiibhv9a.xn--p1ai/"><img class=" greyscale" src="~/Inga/logo-minobraz.png" /></a>

                        <a target="_blank" href="http://xn--80atdujec4e.xn--80acgfbsl1azdqr.xn--p1ai/"><img class=" greyscale" src="~/Inga/logo-upravkult-eburg.png" /></a>

                        <a target="_blank" href="http://www.minobraz.ru/"><img class=" greyscale" src="~/Inga/minobraz.png" /></a>

                    </div>
                </div>

            </footer>

        </div>
    </section>
    @if (Model != null)
    {


        <section id="section2" data-anchor="info1" class="section">
            <div class="container">
                <div class="col-sm-offset-3 col-sm-6 text-center" style="margin-top:11vh;">
                    <h2>@Model.PreTitle</h2>

                </div>
            </div>

        </section>


        <section id="section2" data-anchor="info2" class="section">
            <div class="container">
                <div class="col-sm-offset-3 col-sm-6 text-center" style="margin-top:11vh;">

                    <p class="text-left">@Model.PreText</p>
                </div>
            </div>

        </section>

        <section id="section3" data-anchor="info3" class="section">
            <div class="container">
                <div class="col-sm-offset-3 col-sm-6 text-center" style="margin-top:11vh;">

                    <h3> Награждение @Model.EndTime</h3>
                    <button class="btn  btn-primary btn-block"> Принять участие</button>
                </div>
            </div>

        </section>

    }
    else
    {

    }
</div>