@model ContestEACA.Models.Post

@{ 
    int conRating = @Model.Rating + 1;
}

<div class=" col-md-5 col-xs-11  post_box">


    <div class="post_img">
        @if (Model.Cover != null)
        {
            <div class="img-wrapper">
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.ID">
                    <img class="img_post" src="@Model.Cover.Path" />
                </a>
            </div>
        }
        else
        {
            <div class="img-wrapper">
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.ID">
                    <img class="img_post" src="~/Inga/noimage.png" />
                </a>
            </div>
        }
    </div>



    <div class=" post_info">
        <h3><a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.ID"> @Model.Title  </a> </h3>

        <p class="author"> @Html.DisplayNameFor(x => x.AuthorId): @Model.Author.FirstName  @Model.Author.LastName </p>
        <p class="author"> <small> @Html.DisplayNameFor(x => x.NominationId): @Model.Nomination.Name </small> </p>

        <p class="post-rating like" id="rating_@Model.ID"> @Model.Rating </p>


        @if (User.Identity.IsAuthenticated)
        {

            <a id="likeAjax_@Model.ID" class="btn btn-info btn-lg like"><span class="glyphicon glyphicon-heart"></span> Нравится  </a>

        }

    </div>



</div>


<script>
    $(document).ready(function () {
        $('#likeAjax_@Model.ID').click(function () {
            $.ajax({
                url: '/Posts/LikeUp/@Model.ID',
                dataType: "html",
                success: function (data) {
                    $('#rating_@Model.ID').html('@conRating');
                },
                error: function (response) {
                    alert("Вы уже оценивали эту работу");
                }
            });
        });
    });
</script>



