@model ContestEACA.Models.Nomination

@{
    ViewData["Title"] = "Удаление";
}

<h2 class="title-center text-center">Удалить</h2>

<h3>Вы точно хотите удалить номинацию? </h3>
<div>
    <h4>Удалить номинацию</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        <div hidden>
            <input id="contestId" name="contestId" value="@ViewBag.ContestId" />
        </div>

        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
</div>
