@model IEnumerable<ContestEACA.Models.Nomination>

@{
    ViewData["Title"] = "Номинации";
}

<h2>Список всех номинации во всех конкурсах</h2>

<p>
    <a asp-route-HelperId="@ViewBag.ContestId" asp-action="Create">Создать новую номинацию</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contest)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contest.Name)
            </td>
            <td>
                <a asp-route-HelperId="@ViewBag.ContestId" asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-route-HelperId="@ViewBag.ContestId" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
