@model ExternalLoginsViewModel
@{
    ViewData["Title"] = "Менеджер дополнительных аккаунтов";
    ViewData.AddActivePage(ManageNavPages.ExternalLogins);
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
@if (Model.OtherLogins?.Count > 0)
{
    <h2  style="margin-top:5%;" class="text-center ">Добавьте сервис для входа в систему </h2>
    <!-- Скорее всего я тут напортачил Рома разберись! -->
    <form asp-action="LinkLogin" method="post" class="form-horizontal">
                <div  style="padding-bottom:2%;" class="col-md-12 text-center ">
                    
                                <!-- FACEBOOK -->
                             
                             <button type="submit" class="btn btn-social btn-facebook hidden-xs" name="provider"  value="Facebook" >
                                  Добавить Facebook 
                            </button>

                             <button type="submit" name="provider"  value="Facebook"
                                 class="btn btn-social-icon btn-facebook hidden-sm hidden-md hidden-lg">
                                <i class="fa fa-facebook"></i>
                              </button>    


                            <!-- GOOGLE -->
                   

                    
                             <button type="submit" class="btn btn-social btn-google hidden-xs" name="provider"  value="Google" >
                                 
                                Добавить Google 
                             </button>

                            <button type="submit" name="provider"  value="Google"
                                 class="btn btn-social-icon btn-google-plus hidden-sm hidden-md hidden-lg">
                                <i class="fa fa-google-plus"></i>
                              </button>    

                            <!-- VK -->
                             <button type="submit" class="btn btn-social btn-vk hidden-xs" name="provider"  value="VKontakte" >
                                 
                                 Добавить Вконтакте 
                             </button>

                             <button type="submit" name="provider"  value="VKontakte"
                                 class="btn btn-social-icon btn-vk hidden-sm hidden-md hidden-lg">
                                <i class="fa fa-vk"></i> 
                              </button>    

                    
                </div>
                </form>

}


@if (Model.CurrentLogins?.Count > 0)
{
    <h4 style="margin-top:5%;" class="text-center" >Зарегистрированные логины</h4>
    
        <div class=" social_table text-center">
            
            @foreach (var login in Model.CurrentLogins)
            {
                <div class="col-xs-7 nopadding">
                    <button  type="submit" class="btn  btn-block">
                    @login.LoginProvider
                    </button>
                    </div>

                    <div class="col-xs-3 nopadding" >
                        @if (Model.ShowRemoveButton)
                        {
                            <form asp-action="RemoveLogin" method="post">
                                
                                    <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />

                                    <button  type="submit" class="btn btn-danger  btn-block hidden-xs hidden-sm" title="Удаляет ваш @login.LoginProvider логин со своего аккаунта">
                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                       Удалить 
                                    </button>

                                    <button type="submit" name="provider"  value="VKontakte"
                                    class="btn btn-icon btn-danger   btn-block hidden-md hidden-lg">
                                    <i class="fa fa-ban"></i> 
                                    </button>    

                               
                            </form>
                    
                        }
                        else
                        {
                            @: &nbsp;
                        }
                <hr />
                    </div>
            }
        </div>
    
}
